/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 2; /* Sit on top */
  
    left: 0;
    top: 0;
  
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .content_cage {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
  
  
      background-color: #F9EEE8;
      margin: auto;
      padding: 0;
      border-radius: 30px;
  
      width: calc(100% - 230px);
      height: calc(100% - 150px);
      
  
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  .content_outerCage {  
      width: calc(100% - 130px);
      height: calc(100% - 110px);
      min-height: 80%;

      border-radius: 30px;

      display: flex;
      flex-direction: column;
      align-items: flex-end;

      font-family:  'Heebo', Arial, sans-serif;
      /* overflow: auto; */

  }
  
  .content_innerCage {
      background-color:white;
  
      width: 100%;
      height: 85%;
      min-height: 85%;
  
      border-radius: 30px;
  
      font-size: 2.8vw;
      
  
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

  }
  
  
  
  .content_icon {
      
      display:flex;
      justify-content: center;
      align-items: center;
  
      border-radius: 50%;
  
      width: 5vh;
      height: 5vh;
      min-width: 200px;
      min-height: 200px;
  
      margin: 20px 0px; 
  
      font-size: 6vw;
  
      background-color: white;
  }
  
  
  
  
  /* The Close Button */
.close, .close_style {
    background-color: rgb(47, 88, 117);
    color: white;
  
    margin: 20px 0px ;
    margin-left: 10px;
    padding: 15px 30px;
  
    border-radius: 20px;
    
    font-size: 3vh;
    font-weight: bold;

    outline: none;
    border: none;
}

.print{
    background-color: rgb(47, 88, 117);
    color: white;
  
    margin: 20px 0px ;
    margin-left: 10px;
    padding: 15px 30px;
  
    border-radius: 20px;
    
    font-size: 3vh;
    font-weight: bold;

    outline: none;
    border: none;   
}

.close:hover, .close:focus, .close_style:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close * {
    color: inherit;
    text-decoration: none;
}


/*User Setting Page - Edit password Modal*/
.modal_resize_full {
    width: 100%;
    height: 100%;
}

.content_title {
    align-self: flex-start;
    margin-left: 20px;
    margin-bottom: auto;
    margin-top: 20px;

}

.content_input_stack {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    width: 70%;

}

.content_input_title {    
    font-size: 1.8vw;
}

.content_input {
    outline: none;
    border: none;

    margin-left: 5%;
    width: 40%;

}

.button_group {
    align-self: flex-end;
    margin-right: 15%;
}


/* Food vendor page - add confirmation modal */

.align_flexEnd {
    margin: 0;
}

.content_infoTitle {
    width: 70%;
    text-align: center;
    text-transform: uppercase;
    font-size: 2vw;
}

.content_info_bottomCage {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.content_info_bottomCage_receipt {
    display: flex;
    flex-direction: column;
}


.content_detail_stack {
    display: flex;
    justify-content: flex-end;
    font-size: 1.6vw;
}

.content_detail_stack span {
    margin: 0px 20px;
}

.content_name {
    text-align: left;
    margin-right: auto;
    width: 38vw;
}

.content_detail_receipt{
    width: 20%;
}

.content_name_receiptName{
    text-align: left;
    width: 40vw;
}

.content_detail {
    width: 50%;
}

/* Access Page - Transaction History Modal */
.trans_position {
    margin-bottom: 25px;    

    width: calc(100%);
    height: calc(30%);

    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.4s;
    animation-name: animatebottom;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatebottom {
  from {bottom: -400px; opacity:0} 
  to {bottom:0; opacity:1}
}

@keyframes animatebottom {
  from {bottom: -400px; opacity:0}
  to {bottom:0; opacity:1}
}

.trans_content {
    width: 90%;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content_bar {
    font-size: 2.2vh;
}

.content_bar h2, .content_bar h3 {
    padding: 0px;
    margin: 0px;
}


