.bottom {
    height: 90%;
    width: 100%;
    background-color: rgb(216, 216, 216);

    display: flex;
}

#bottom_left {
    width: 360px;
    min-width: 280px;
    height: 100%;
    text-align: left;
    font-size: 30px;
    font-family:  'Heebo', Arial, sans-serif;
    background-color: #52CCF8;
    color: white;
}



#bottom_left a {
    display: block;
    background-color: #52CCF8;
    
    padding: 15px 0px 15px 25px;

    /*Remove default anchor styling*/
    text-decoration: none;
    color: inherit;
    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    
}


/*Adjust the menu icons to the center and align the words uniformly*/
#bottom_left a i {
    margin-right: 20px;
    text-align: center;
    width: 35px;
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/


#bottom_left a:hover {
    color:#EBEBEB;
}

#bottom_left .activeTab  {
    background-color:#EBEBEB;
    color: #52CCF8 !important;
}


.bottom_right {
    width: 100%;
    height: 100%;
    background-color: #EBEBEB;
	overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.analysis_cage {

    width: calc(100% - 50px);
    height: calc(100%  - 50px);

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    
}

.tab_colour {
    background-color:#427AA1 !important ;
    color: #FFFFFF !important;
}